* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 15px;
    font-family: 'Gill Alt One MT Light','SimHei','Microsoft YaHei','Hiragino Sans GB',sans-serif !important;
    font-weight: 300;
}

    .splash-head {
        font-size: 250%;
    }

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #565e2b;
        font-family: 'Gill Alt One MT','SimHei','Microsoft YaHei','Hiragino Sans GB',sans-serif;
        font-weight: 400;
}

.pure-img-responsive {
    width:100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
    color:#7f8c8d;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #6ed3cf;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #6ed3cf;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #fff;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
}
.pure-menu-selected .pure-menu-link, .pure-menu-selected .pure-menu-link:visited {
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: #6ed3cf;
    background-image: url('../../img/common/elderly-man-in-blue_Small.jpg');
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
    background-size: cover;
    min-width: 300px;
}


.fixed-image {
    background-image: url('../../img/common/tea.jpg');
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    background-size: cover;
    min-width: 300px;
    background-attachment: fixed;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    position: absolute;
    top: 40%; left: 10px; bottom: 0; right: 0;
    /*text-transform: uppercase;*/
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 1em 1.6em;
    font-weight: 100;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    position: absolute;
    bottom:0;
    left:0;
    font-weight: lighter;
    width:100%;
    background: #565e2b;
    margin:0;
    padding:20px;
    min-height: 50px;
    font-size:20px;
    font-family: Palatino, serif;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

.page .content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: static;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}
.page-splash {
    height:auto;
    margin-top:50px;
    max-height: 500px;
    overflow: hidden;
    position: relative;
}

.page-splash img {
    width:100%;
    height:auto;
    display: block;
}

.page-splash-header {
    top:30%;
    left:10px;
    background:#565e2b;
    padding:1.4em;
    font-size:14px;
    color:#fff;
}

.page-splash-header h1 {
    line-height: 1.1em;
    color:#fff;
}

.page-splash-header p {
    font-size:120%;
}


/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    /*text-transform: uppercase;*/
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: #f0f0e0;
}

/* This is the class used for the content sub-headers (<h3>) */
/*.content-subhead {
    color: #6ed3cf;
}*/
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
background: #565e2b;
    color: #f0f0e0;
}

/* This is the class used for the footer */
.footer {
    background: #eee;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 13px;
    }
    /* We want to give the content area some more padding */
    .content {
        padding: 1em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}

.pure-menu-heading {
    text-transform: none;
}
.img-auto img {
    width:100%;
    height:auto;
}
.logo {
    float:left;
}

.pad-left {
    margin-left: 0.8em;
}

a:link {
    text-decoration:none;
    color:inherit;
}




.custom-wrapper {
    z-index: 5;
    position: fixed;
    top:0;
    width: 100%;
    background-color: #fff;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.6em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

}